body{background-image: url(./bg-desktop.jpg) ;
background-repeat: no-repeat;
background-position: top   center;
background-size: cover;
}

h1{color: white;}
h2{color: white;}
p{color: white;}
li{color: white;}
